.text {
    color: #3b82f6 !important;
    background-color: white !important;
    box-shadow: none !important;
}

.text:hover {
    background-color: rgb(236, 234, 234) !important;
    cursor: pointer !important;
    box-shadow: none !important;
}

.text:active {
    background-color: rgb(228, 228, 228) !important;
}


.outlined {
    color: #3b82f6 !important;
    background-color: white !important;
    border: 1px solid #3b82f6 !important;
}
.outlined:hover {
    background-color: rgb(236, 234, 234) !important;
    cursor: pointer !important;
    box-shadow: none !important;
}
.outlined:active {
    background-color: rgb(228, 228, 228) !important;
}
